.custom-bg {
  background-image: url('../images/reserve-bg.png');
}

.form-div {
  background-color: #1c2331;
  opacity: 0.9;
}

.main_cont {
  background-image: url("../images/reserve-bg.png");
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.sides {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.left-side {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 20px 0 20px 0;
}

.right-side {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 20px 0 20px 0;
}

.home-button {
  padding: 7px;
  display: block;
  margin: 15px 0 0 0;
}

.internal_cont {
  display: flex;
  margin-right: 0;
  padding: 0;
  flex-direction: column;
  align-content: center;
  text-align: center;
  box-sizing: border-box;
}

.logotype {
  width: 37%;
  align-self: center;
  padding: 2px 0 30px 0;
}

.house-form {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: start;
  background-color: rgba(28, 35, 49, 0.7);
  margin: 0 auto 0 auto;
  border-radius: 15px;
  box-sizing: border-box;
}

.form-item {
  width: 100%;
}

.house-input {
  background-color: white;
  font-size: 1rem;
  color: black;
  border: none;
}

.house-input-name {
  width: 100%;
  background-color: white;
  font-size: 1rem;
  color: black;
  border: none;
  padding: 4px 0 4px 10px;
  box-sizing: border-box;
}

.border-grey {
  width: 100%;
  background-color: #a6a6a6;
  padding: 3px;
  border-radius: 20px;
}

.border-green {
  background-color: white;
  border: 4px solid #004d40;
  padding: 8px;
  border-radius: 19px;
}

.border-grey-text {
  width: 52%;
  height: 100px;
  background-color: #a6a6a6;
  padding: 5px;
  justify-content: center;
  align-self: center;
}

.text-area {
  width: 100%;
  background-color: white;
  font-size: large;
  color: black;
  border: none;
  box-sizing: border-box;
  height: 75px;
  text-align: center;
}

.border-green-text {
  background-color: #004d40;
  padding: 8px;
  height: 92px;
}

.border-grey-name {
  width: 70%;
  background-color: #a6a6a6;
  padding: 5px;
  border-radius: 20px;
  justify-content: center;
  align-self: center;
}

.button-add-house {
  background: transparent;
  color: #ffc359;
  border: transparent;
  align-self: center;
  font-size: 2rem;
  margin: 10px 0 10px 0;
}

@media screen and (max-width: 720px) {
  .sides {
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 20px;
  }

  .left-side {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px 0 0 0;
  }

  .right-side {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px 0 20px 0;
  }

  .form-item {
    width: 99%;
  }

  .border-grey {
    width: 100%;
    background-color: #a6a6a6;
    padding: 3px;
    border-radius: 20px;
  }

  .border-green {
    background-color: white;
    padding: 8px;
    border-radius: 19px;
    border: 3px solid #004d40;
  }

  .house-input {
    background-color: white;
    font-size: large;
    color: black;
    border: none;
  }
}

@media screen and (max-width: 700px) {
  .house-input {
    background-color: white;
    font-size: large;
    color: black;
    border: none;
  }

  .internal_cont {
    display: flex;
    margin-right: 0;
    padding: 0;
    flex-direction: column;
    align-content: center;
    text-align: center;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 500px) {
  .sides {
    display: flex;
    flex-direction: column;
  }

  .left-side {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px 0 0 0;
  }

  .right-side {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 15px 0 20px 0;
  }

  .internal_cont {
    display: flex;
    margin-right: 0;
    padding: 0;
    flex-direction: column;
    align-content: center;
    text-align: center;
    box-sizing: border-box;
  }

  .house-input-name {
    background-color: white;
    font-size: 0.8rem;
    color: black;
    border: none;
  }

  .house-input {
    background-color: white;
    font-size: 0.8rem;
    color: black;
    border: none;
  }

  .text-area {
    width: 100%;
    background-color: white;
    font-size: 0.8rem;
    color: black;
    border: none;
    box-sizing: border-box;
    height: 75px;
    text-align: center;
  }

  .button-add-house {
    background: transparent;
    color: #ffc359;
    border: transparent;
    align-self: center;
    font-size: 1rem;
    margin: 10px 0 10px 0;
  }
}
