@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  background-color: #fff;
}

.box {
  background-color: transparent;
  border: 1px solid transparent;
  min-height: 50px;
  font-size: 2rem;
}

.side-navbar {
  width: 250px;
  height: 100%;
  position: fixed;
  margin-left: -300px;
  background-color: #1c2331;
  transition: 0.5s;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  background-color: #004d40;
}

.nav-user:active,
.nav-user:focus {
  background-color: #004d40;
}

.my-container {
  transition: 0.4s;
}

.active-nav {
  margin-left: 0;
}

.active-cont {
  margin-left: 250px;
}

#menu-btn {
  background-color: #100901;
  color: #fff;
  margin-left: -62px;
}

.my-container input {
  border-radius: 2rem;
  padding: 2px 20px;
}

.new1 {
  border-top: 3px dotted #1c2331;
  width: 70px;
}

.swiper-nav-btn {
  background-color: #1c2331;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 40px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.swiper-nav-btn:hover {
  background-color: #004d40;
}
